.btn {
  background: #0096bb;
  padding: 0.5rem;
  border: 0;
  margin: 1rem;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  transform: scale(0.95);
}
.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.msg {
  color: #7a7a7a;
  background: #3a3a3a;
  border-radius: 1rem;
  padding: 0.15rem 1rem;
  visibility: hidden;
}
.copy:hover .msg {
  visibility: visible;
}
