.checkbox {
  height: 0;
  width: 0;
  display: none;
}
.switch {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 45px;
  height: 25px;
  border-radius: 50px;
  background: #f1f1f1;
  transition: background 0.2s;
}
.circle {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #0096bb;
  transition: 0.2s;
}
.checkbox:checked + .switch .circle {
  transform: translateX(100%);
}
